#controls{

    height:110px;

    background:#222;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:10px 20px;
}

#joystick{

    width:90px;

    height:90px;

    border-radius:50%;

    background:#444;
}

#bombButton{

    width:80px;

    height:80px;

    border:none;

    border-radius:50%;

    font-size:32px;

    background:#ffb300;
}

#joystick{

    position:relative;

    width:100px;

    height:100px;

    border-radius:50%;

    background:#444;

    touch-action:none;
}

#stick{

    position:absolute;

    width:40px;

    height:40px;

    left:30px;

    top:30px;

    border-radius:50%;

    background:white;
}